.form-section{
    width: 60%;
    background: var(--my-user-background);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 4px;
    border-radius: 0.25em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.form-section form{
    padding: 20px 40px;
    box-sizing: border-box;
}

.createTeam .foundation{
    width: 200px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.createTeamTitle{
    text-align: center;
}

.createTeam{
    margin: 50px auto;
    display: block;
}

.createTeam label{
    margin-top: 10px;
    margin-bottom: 0;
    color: var(--font-black);
}

.createTeam .input{
    margin-left: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
}

.teamTable{
    margin-top: 30px;
    box-shadow: none;
    color: var(--font-black);
}

@media (max-width: 992px){
    .form-section{
        margin-top: 40px;
        width: 70%;
    }

    .createTeam .input{
        margin-top: 10px;
        margin-left: 0;
    }

    .createTeam .foundation{
        width: 100px;
    }
}

@media screen and (min-width: 992px){
    .createTeam .row{
        padding-right: 40px;
    }
}