.form-section{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.form-select{
    margin-top: 20px;
}

.form-control{
    margin-left: auto;
    margin-right: auto;
}

.searchFriends{
    margin-top: 30px;
    width: 100%;
}

.btnFilter{
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 992px){
    .form-section{
        width: 85%;
    }

    .form-section .input{
        margin-top: 10px;
    }
}

@media (min-width: 992px){
    @media screen and (min-width: 800px){

        .searchFriends tbody, .searchFriends th, .searchFriends td{
            display: block;
            width: 100%;
        }

        .searchFriends thead, .searchFriends tbody{
            overflow-y: scroll;
        }

        .searchFriends thead{
            -ms-overflow-style: none;
        }

        .searchFriends thead::-webkit-scrollbar{
            visibility: hidden;
        }

        .searchFriends tbody{
            max-height: 350px;
            position: relative;
            -ms-overflow-style: -ms-autohiding-scrollbar;
        }

        .searchFriends tr{
            display: flex;
        }
    }

    .friends th:nth-child(1){
        width: 10%;
    }

    .friends th:nth-child(2){
        width: 30%;
    }

    .friends th:nth-child(3){
        width: 20%;
    }

    .friends th:nth-child(4){
        width: 20%;
    }

    .friends th:nth-child(5){
        width: 20%;
    }
}