.form-section{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.form-select{
    margin-top: 20px;
}

.form-control{
    margin-left: auto;
    margin-right: auto;
}

.searchFriends, .sentRequests, .blockedUsers{
    margin-top: 30px;
    width: 100%;
}

.btnFilter{
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 992px){
    .form-section{
        width: 85%;
    }

    .form-section .input{
        margin-top: 10px;
    }
}

@media (min-width: 992px){
    @media screen and (min-width: 800px){

        .searchFriends .table-content, .sentRequests .table-content, .blockedUsers .table-content, .searchFriends th, .sentRequests th, .blockedUsers th, .searchFriends td, .sentRequests td, .blockedUsers td{
            display: block;
            width: 100%;
        }

        .searchFriends .table-header, .sentRequests .table-header, .blockedUsers .table-header, .searchFriends .table-content, .sentRequests .table-content, .blockedUsers .table-content{
            overflow-y: scroll;
        }

        .searchFriends .table-header, .sentRequests .table-header, .blockedUsers .table-header{
            -ms-overflow-style: none;
        }

        .searchFriends .table-header::-webkit-scrollbar, .sentRequests .table-header::-webkit-scrollbar, .blockedUsers .table-header::-webkit-scrollbar{
            visibility: hidden;
        }

        .searchFriends .table-content, .sentRequests .table-content, .blockedUsers .table-content{
            max-height: 350px;
            position: relative;
            -ms-overflow-style: -ms-autohiding-scrollbar;
        }

        .searchFriends tr, .sentRequests tr, .blockedUsers tr{
            display: flex;
        }
    }

    .friends th:nth-child(1){
        width: 10%;
    }

    .friends th:nth-child(2){
        width: 30%;
    }

    .friends th:nth-child(3){
        width: 20%;
    }

    .friends th:nth-child(4){
        width: 20%;
    }

    .friends th:nth-child(5){
        width: 20%;
    }
}