.myTask{
    background-color: rgba(0, 128, 0, 0.7);
}

/*@media screen and (min-width: 800px){
    .levels{
        overflow-y: auto;
        height: 500px;
        display: block;
    }

    .levels .table-header{
        position: sticky;
        top: 0;
    }
}*/

