:root{
    --main-background: linear-gradient(-45deg, #03045E, #023E8A, #0077B6, #0096C7, #00B4D8, #48CAE4) no-repeat fixed;
    --background-white: white;
    --font-black: black;
    --blue-color: #0077B6;
    --my-user-background: grey;
    --table-header-background: rgb(183, 201, 213);
    --table-content-background: rgb(204, 220, 234);
    --table-font-color: black;
    --scroll-thumb: #0077B6;
    --team-btn-color: #262626;
    --team-btn-text-color: white;
}

.dark{
    --main-background: linear-gradient(-45deg, #7A7A7A, #575757, #464646, #343434, #232323, #111111) no-repeat fixed;
    --background-white: white;
    --font-black: white;
    --blue-color: #575757;
    --my-user-background: #7A7A7A;
    --table-header-background: #343434;
    --table-content-background: #7A7A7A;
    --scroll-thumb: black;
    --team-btn-color: white;
    --team-btn-text-color: black;
}

body{
    background: var(--main-background);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    padding-top: 100px;
    padding-bottom: 20px;

}

@keyframes gradient{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

table{
    padding: 0;
    width: 100%;
    table-layout: fixed;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px 4px;
    border-collapse: collapse;
    border-radius: 0.25em;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    color: var(--font-black);
}

table .table-header{
    background-color: var(--table-header-background);
}

table .table-content{
    background-color: var(--table-content-background);
}

table th, table td{
    padding: .625em;
    text-align: center;
}

table th{
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.title{
    margin-top: 50px;
    text-align: center;
    color: var(--font-black);
}

#loading {
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid #0077B6;
    border-radius: 100%;
    margin: auto;
    visibility: hidden;
    animation: spin 1s infinite linear;
}

#loading.display {
    visibility: visible;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 800px){
    table{
        border: none;
        box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px 4px;
        border-collapse: collapse;
        border-radius: 0.25em;
        overflow: hidden;
        font-size: .8em;
    }

    table .table-header{
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        font-size: .6em;
    }

    table tr{
        display: block;
        margin-bottom: .625em;
        line-height: 38px;
        box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px 4px;
        border-radius: 0.25em;
    }

    table tr:last-child{
        margin-bottom: 0;
    }

    table td{
        border-bottom: 1px solid black;
        display: block;
        text-align: right;
    }

    table td:last-child{
        border-bottom: 1px solid transparent;
    }

    table td::before, th::before{
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    .btn{
        width: 99px;
    }

    .recievedRequests, .tasksToDo, .friends{
        min-width: 90%;
        margin: 10px auto 50px;
    }

    .orszagos, .levels{
        width: 70%;
        margin: 10px auto 50px;
    }

    .friends, .country, .tasks, .levels{
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@media (min-width: 800px) {
    .btn{
        width: 99px;
    }

    table th{
        border-bottom: 1px solid black;
    }

    table td{
        border-bottom: 1px solid black;
    }

    .friends, .csapatom, .country, .levels, .tasks{
        width: 90%;
        margin: 50px auto;
    }

    .friends th:nth-child(1){
        width: 10%;
    }

    .friends th:nth-child(2){
        width: 30%;
    }

    .friends th:nth-child(3){
        width: 20%;
    }

    .friends th:nth-child(4){
        width: 20%;
    }

    .friends th:nth-child(5){
        width: 20%;
    }

    .tasks th:nth-child(1){
        width: 15%;
    }

    .tasks th:nth-child(2){
        width: 30%;
    }

    .tasks th:nth-child(3){
        width: 20%;
    }

    .tasks th:nth-child(4){
        width: 20%;
    }

    .tasks th:nth-child(5){
        width: 10%;
    }
}

*::-webkit-scrollbar{
    width: 5px;
}

*::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.5);
}

*::-webkit-scrollbar-thumb{
    background-color: var(--scroll-thumb);
    border-radius: 20px;
}