body{
    background: linear-gradient(rgba(64, 159, 228, 1) 50%, rgba(255, 255, 255, 1) 50%);
    background-repeat: no-repeat;
}

.beerkezettjelolesek h3{
    margin-top: 10px;
}

.adatok{
    width: 50%;
    margin: 100pt auto 0px;
}

table{
    padding: 0;
    width: 100%;
    table-layout: auto;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 4px;
    border-collapse: collapse;
    border-radius: 0.25em;
    overflow: hidden;
    background-color: #C4C4C4;
}

table tr{
    background-color: #C4C4C4;
    /*border: 1px solid #ddd;*/
    padding: .35em;
}

table th, table td{
    padding: .625em;
    text-align: center;
}

table th{
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

@media screen and (max-width: 800px){
    table{
        border: none;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 4px;
        border-collapse: collapse;
        border-radius: 0.25em;
        overflow: hidden;
        font-size: .8em;
    }

    table thead{
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        font-size: .6em;
    }

    table tr{
        display: block;
        margin-bottom: .625em;
        line-height: 38px;
        box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 10px 4px;
        border-radius: 0.25em;
    }

    table tr:last-child{
        margin-bottom: 0px;
    }

    table td{
        border-bottom: 1px solid black;
        display: block;
        text-align: right;
    }

    table td:last-child{
        border-bottom: 1px solid transparent;
    }

    table td::before, th::before{
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    .btn{
        width: 99px;
    }

    .adatok{
        width: 60%;
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .adatok tr{
        margin-bottom: 0px;
    }

    .beerkezettjelolesek, .beerkezettfeladatok, .csapatom, .barataim, .orszagos, .feladataim{
        width: 90%;
        margin: 10px auto 50px;
    }

    .barataim, .csapatom, .orszagos, .feladataim{
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 800px) {
    .btn{
        width: 99px;
    }

    table tr:last-child td{
        border-bottom: 1px solid transparent;
    }

    .adatok{
        width: 40%;
        margin-bottom: 50px;
    }

    .beerkezettjelolesek, .beerkezettfeladatok{
        width: 90%;
        margin: 10px auto 50px;
    }

    .beerkezettfeladatok th:nth-child(1){
        width: 10%;
    }

    .beerkezettfeladatok th:nth-child(2){
        width: 30%;
    }

    .beerkezettfeladatok th:nth-child(3){
        width: 45%;
    }

    .beerkezettfeladatok th:nth-child(4){
        width: 15%;
    }

    table th{
        border-bottom: 1px solid black;
    }

    table td{
        border-bottom: 1px solid black;
    }

    .barataim, .csapatom, .orszagos, .feladataim{
        width: 70%;
        margin: 50px auto;
    }

    .barataim th:nth-child(1){
        width: 10%;
    }

    .barataim th:nth-child(2){
        width: 40%;
    }

    .barataim th:nth-child(3){
        width: 30%;
    }

    .barataim th:nth-child(4){
        width: 20%;
    }

    .feladataim th:nth-child(1){
        width: 15%;
    }

    .feladataim th:nth-child(2){
        width: 35%;
    }

    .feladataim th:nth-child(3){
        width: 30%;
    }

    .feladataim th:nth-child(4){
        width: 20%;
    }
}

*::-webkit-scrollbar{
    width: 10px;
}

*::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.5);
}

*::-webkit-scrollbar-thumb{
    background-color: #409FE4;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.9);
}