body{
    background: linear-gradient(-45deg, #03045E, #023E8A, #0077B6, #0096C7, #00B4D8, #48CAE4) no-repeat fixed;
    animation: gradient 25s ease infinite;
    background-size: 400% 400%;
    padding-top: 100px;
    height: 100vh;
    margin-bottom: 100px;
}

@keyframes gradient{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

table{
    padding: 0;
    width: 100%;
    table-layout: fixed;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 4px;
    border-collapse: collapse;
    border-radius: 0.25em;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
}

table .table-header{
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

table .table-content{
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.8);
}

table tr{
    /*background-color: #C4C4C4;*/
    /*border: 1px solid #ddd;*/
    padding: .35em;
}

table th, table td{
    padding: .625em;
    text-align: center;
}

table th{
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

#cimsor{
    color: #000000;
}

@media screen and (max-width: 800px){
    table{
        border: none;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 4px;
        border-collapse: collapse;
        border-radius: 0.25em;
        overflow: hidden;
        font-size: .8em;
    }

    table thead{
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        font-size: .6em;
        background-color: rgba(0, 119, 182, 0.3);
    }

    table tr{
        display: block;
        margin-bottom: .625em;
        line-height: 38px;
        box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 10px 4px;
        border-radius: 0.25em;
    }

    table tr:last-child{
        margin-bottom: 0px;
    }

    table td{
        border-bottom: 1px solid black;
        display: block;
        text-align: right;
    }

    table td:last-child{
        border-bottom: 1px solid transparent;
    }

    table td::before, th::before{
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    .btn{
        width: 99px;
    }

    .beerkezettjelolesek, .elvegezendofeladatok, .csapatom, .barataim, .feladataim{
        width: 90%;
        margin: 10px auto 50px;
    }

    .orszagos, .szintek{
        width: 70%;
        margin: 10px auto 50px;
    }

    .barataim, .csapatom, .orszagos, .feladataim, .szintek{
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 800px) {
    .btn{
        width: 99px;
    }

    table tr:last-child td{
        border-bottom: 1px solid transparent;
    }

    table th{
        border-bottom: 1px solid black;
    }

    table td{
        border-bottom: 1px solid black;
    }

    .barataim, .csapatom, .orszagos, .feladataim, .szintek{
        width: 70%;
        margin: 50px auto;
    }

    .barataim th:nth-child(1){
        width: 10%;
    }

    .barataim th:nth-child(2){
        width: 30%;
    }

    .barataim th:nth-child(3){
        width: 20%;
    }

    .barataim th:nth-child(4){
        width: 20%;
    }

    .barataim th:nth-child(5){
        width: 20%;
    }

    .feladataim th:nth-child(1){
        width: 15%;
    }

    .feladataim th:nth-child(2){
        width: 30%;
    }

    .feladataim th:nth-child(3){
        width: 20%;
    }

    .feladataim th:nth-child(4){
        width: 20%;
    }

    .feladataim th:nth-child(5){
        width: 10%;
    }
}

*::-webkit-scrollbar{
    width: 10px;
}

*::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.5);
}

*::-webkit-scrollbar-thumb{
    background-color: #409FE4;
    border-radius: 20px;
    border: 2px solid rgba(50, 122, 175, 0.5);
}

#loading {
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid #9c41f2;
    border-radius: 100%;
    margin: auto;
    visibility: hidden;
    animation: spin 1s infinite linear;
}
#loading.display {
    visibility: visible;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}