.modal-content{
    border: none;
}

.profImg{
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: auto auto 20px;
    border-radius: 50%;
    display: block;
}

.teamRole{
    margin-bottom: 40px;
}

.modal-header{
    background: var(--table-header-background);
}

.modal-title{
    color: var(--font-black);
}

.modal-body{
    background: var(--table-content-background);
    border: none;
    color: var(--font-black);
}

.modal-footer{
    background: var(--table-header-background);
}