.form-section{
    width: 50%;
    background: #C4C4C4;;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 4px;
    border-radius: 0.25em;
    margin-left: auto;
    margin-right: auto;
}

#profilkep{
    border-radius: 50%;
    display: block;
    margin: 30px auto;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 4px;
}

.form-section form{
    padding: 20px 40px;
    box-sizing: border-box;
}

.profil .mentes{
    width: 200px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.profil .fioktorles{
    width: 200px;
    margin: 50px auto;
    display: block;
}

@media screen and (max-width: 992px){
    .form-section{
        margin-top: 20px;
        width: 310px;
    }

    .profil .input{
        margin-top: 10px;
        width: 100%;
    }

    .profil .mentes{
         width: 100px;
     }

    .profil .fioktorles{
        width: 150px;
    }
}

@media screen and (max-width: 400px){
    .form-section{
        margin-top: 20px;
        width: 80%;
    }
}

@media screen and (min-width: 992px){
    .profil label{
        vertical-align: middle;
        margin-top: 10px;
        margin-bottom: 0;
    }

    .profil .input{
        margin-left: 40px;
        margin-bottom: 10px;
        margin-top: 10px;
        width: 100%;
    }

    .profil .row{
        padding-right: 40px;
    }
}


