.form-section{
    width: 50%;
    background-color: var(--my-user-background);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 4px;
    border-radius: 0.25em;
    margin-left: auto;
    margin-right: auto;
    color: var(--font-black);
}

.name{
    text-align: center;
    color: var(--font-black);
}

.profilePicture{
    border-radius: 50%;
    display: block;
    margin: 30px auto;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 4px;
    object-fit: cover;
    height: 150px;
    width: 150px;
}

.form-section form{
    padding: 20px 40px;
    box-sizing: border-box;
}

.profile .btn_save{
    width: 200px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.profile .btn_account_delete{
    width: 200px;
    margin: 50px auto;
    display: block;
}

@media screen and (max-width: 992px){
    .form-section{
        margin-top: 20px;
        width: 310px;
    }

    .profile .input{
        margin-top: 10px;
        width: 100%;
    }

    .profile .btn_save{
         width: 100px;
     }

    .profile .btn_account_delete{
        width: 150px;
    }
}

@media (max-width: 400px){
    .form-section{
        margin-top: 20px;
        width: 80%;
    }
}

@media (min-width: 992px){
    .profile label{
        margin-top: 10px;
        margin-bottom: 0;
    }

    .profile .input{
        margin-left: 40px;
        margin-bottom: 10px;
        margin-top: 10px;
        width: 100%;
    }

    .profile .row{
        padding-right: 40px;
    }
}


