.form-section{
    position: relative;
    width: 350px;
    background: var(--background-white);
    box-shadow: var(--box-shadow);
    border-radius: 0.25em;
    margin-left: auto;
    margin-right: auto;
}

.fa-solid{
    margin-right: 10px;
}

.form-section hr{
    margin-right: auto;
    margin-left: auto;
    width: 85%;
}

.form-label{
    margin-top: 10px;
}

.form-section h2{
    text-align: center;
    padding: 20px 0 0 10px;
}

form .input{
    width: 85%;
}

.form-section form{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    box-sizing: border-box;
}

option{
    background-color: var(--background-white);
    color: black;
}

form .email{
    position: relative;
    width: 100%;
}

form .passwd{
    position: relative;
    width: 100%;
}

form .btn{
    width: 85%;
    margin-top: 20px;
    background: var(--blue-color);
    color: white;
}

form p{
    font-size: 13px;
    margin-top: 20px;
    margin-left: 50px;
}

a:hover, a:link, a:visited, a:active{
    color: var(--blue-color);
    text-decoration: none;
}

.form-section a:hover{
    text-decoration: underline;
}

@media (max-width: 400px){
    .form-section{
        width: 85%;
    }

    form p{
        margin-left: 30px;
    }
}